# Lines that start with '#' are comments.
*~
*.[oa]
*.l[oa]
*.slo
*.gcov
*.gcda
*.gcno
.deps
.libs
aclocal.m4
autom4te.cache
compile
configure
config.log
config.h.in
config.h
config.status
config.status.lineno
depcomp
test/http-get/get
install-sh
Makefile
Makefile.in
missing
setup-mod_auth_vas
stamp-*
tags
